PagerDuty/deploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata":{
        "comments": "This playbook will open Service Now incident when new incident open in sentinel.",
        "author": "Yaniv Shasha"
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Create-PagerDuty-Incident",
            "type": "String"
        },
        "UserName": {
            "defaultValue": "<username>@<domain>",
            "type": "string"
        },
        "TenantName": {
            "defaultValue": "example: Punch Cyber",
            "type": "string"
        },
        "PagerDuty_REST_ID": {
            "defaultValue": "GUID Here",
            "type": "securestring"
        },
        "PagerDuty_Service_Key": {
            "defaultValue": "GUID Here",
            "type": "securestring"
        }
    },
    "variables": {
        "AzureSentinelConnectionName": "[concat('azuresentinel-pagerduty-', parameters('PlaybookName'))]",
        "PagerDutyConnectionName": "[concat('pagerduty-', parameters('PlaybookName'))]",
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('PagerDutyConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/pagerduty')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "westus2",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_Azure_Sentinel_incident_creation_rule_was_triggered": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Add_note_to_PagerDuty_incident": {
                            "runAfter": {
                                "Get_PagerDuty_incident_information": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "note": "Link to Sentinel Incident: @{body('Get_incident_from_Sentinel')?['properties']?['incidentUrl']}",
                                    "userId": "Sentinel Automation"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['pagerduty']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/incidents/@{encodeURIComponent(body('Get_PagerDuty_incident_information')['id'])}/notes"
                            }
                        },
                        "Create_incident_in_PagerDuty": {
                            "runAfter": {
                                "Get_incident_from_Sentinel": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "description": "New \"@{body('Get_incident_from_Sentinel')?['properties']?['title']}\" incident in Sentinel (Incident ID: @{body('Get_incident_from_Sentinel')?['properties']?['incidentNumber']})",
                                    "service_key": "[parameters('PagerDuty_Service_Key')]"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['pagerduty']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/incidents/create"
                            }
                        },
                        "Get_PagerDuty_incident_information": {
                            "runAfter": {
                                "Create_incident_in_PagerDuty": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['pagerduty']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/action8/incidents",
                                "queries": {
                                    "incident_key": "@body('Create_incident_in_PagerDuty')['incident_key']"
                                }
                            }
                        },
                        "Get_incident_from_Sentinel": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "incidentArmId": "@triggerBody()?['object']?['id']"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Incidents"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                            },
                            "PagerDuty": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('PagerDutyConnectionName'))]",
                                "connectionName": "[variables('PagerDutyConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/pagerduty')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}
